:root {
  --yellow: #f5c32c;
  --orange: #fca61f;
  --darkblue: #2f323d;
  --gray: rgba(36, 45, 73, 0.65);
  --profileShadow: 0px 4px 17px 5px rgba(0, 0, 0, 0.6);
  --hrColor: #cfcdcd;
  --cardColor: rgba(255, 255, 255, 0.64);
  --buttonBg: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
  --inputColor: rgba(40, 52, 62, 0.07);
  --photo: #4cb256;
  --video: #4a4eb7;
  --location: #ef5757;
  --shedule: #e1ae4a;
}

.App {
  overflow: hidden;
  color: var(--darkblue);
  background-color: #e9eff0d5;
  padding: 1rem 1rem;
}

.blur {
  position: absolute;
  background-color: #83f2dd;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background-color: #9ae3a1;
  filter: blur(80px);
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  outline: none;
  border: none;
  font-size: 13px;
  padding: 5px;
  border-radius: 4px;
  background-image: linear-gradient(
    to bottom,
    rgb(81, 163, 214),
    rgb(95, 18, 218)
  );
  transition: all 500ms ease-out;
}
.button:hover {
  background-image: linear-gradient(
    to top,
    rgb(81, 163, 214),
    rgb(207, 17, 162)
  );
  border: 2px solid slateblue;
}
.button:disabled {
  background-color: silver;
  pointer-events: none;
}
